# Run 'libtbx.precommit install' to enable repository pre-commits.
repos:

# Automatically sort imports with isort
- repo: https://github.com/timothycrosley/isort.git
  rev: 5.6.4
  hooks:
  - id: isort
    additional_dependencies: [toml]

# Automatic source code formatting with Black
- repo: https://github.com/psf/black
  rev: 20.8b1
  hooks:
  - id: black
    args: [--safe, --quiet]

# Enforce style with Flake8
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.8.4
  hooks:
  - id: flake8
    args: ['--max-line-length=88', '--select=E401,E711,E712,E713,E714,E721,E722,E901,F401,F402,F403,F405,F631,F632,F633,F811,F812,F821,F822,F841,F901,W191,W291,W292,W293,W602,W603,W604,W605,W606']

# Syntax check with pre-commit out-of-the-box hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.3.0
  hooks:
  - id: check-ast
  - id: check-yaml
  - id: check-merge-conflict
  - id: check-added-large-files
    args: ['--maxkb=200']
