dask==2023.3.2
distributed==2023.3.2
h5py==3.8.0
hdf5plugin==4.0.1
nexgen==0.9.3
numpy==1.26.4
pandas==2.1.4
Pint==0.23
pytest==7.1.2
pytest-cov==3.0.0
Sphinx==6.2.0
sphinx-rtd-theme==1.2.0
zarr==2.13.3
